@import '../mixins/mediaquery';

.landingpage_header_box {
  width: 100%;
  background-color: #fff;
  padding: 20px 0px;
  position: fixed;
  top: 0;
@include for-size(tablet-only){
  width: 100%;
}
  main{
    max-width: 1440px !important;
    margin: 0px auto;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include for-size(tablet-only){
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
    }
  ul {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    @include for-size(tablet-only){
      display: none;
    }
    li {
      font-size: 16px;
      font-weight: 500;
      line-height: 29.26px;
      text-align: left;
      color: #000;

      &:hover {
        border-bottom: 2px solid #FF9B05;
    }
     &:active {
        color: #FF9B05;
    }
    }
  }
  .landingpage_header_btn{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
        .login {
          background-color: #fff;
          color: #000;
          padding: 10px 20px;
          border: none;
          font-size: 16px;
          font-weight: 500;
          @include for-size(tablet-only){
            font-size: 16px;
            padding: 8px 16px;
          }
          &:hover {
            color: #FF9B05;
          }
        }
      
        .getstarted {
          background-color:  #FF9B05;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 50px;
          font-size: 16px;
          font-weight: 500;
          @include for-size(tablet-only){
            font-size: 12px;
            padding: 8px 16px;
          }
          
          &:hover {
            background-color: #faedb7;
            color: #000;
          }
        }
  }
}
}
