@import "../mixins/mediaquery";
.dashboard_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 60px;
    box-sizing: border-box;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0 20px;
  @include for-size(tablet-only) {
        width: 100%;
        padding: 10px 10px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  }
  .order_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 8px;
    background-color: #fafafa;
    border-radius: 10px;
   box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    @include for-size(tablet-only) {
             width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
  }
  .order_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 0 8px;
    align-items: center;
    @include for-size(tablet-only) {
      width: 100%;
      padding: 0 10px;
    }
    p{
      font-size: 16px;
      font-weight: 500;
      @include for-size(tablet-only){
        font-size: 14px;
        font-weight: 400;
        text-align: start;
      }
    }
    .item_name {
      font-size: 16px;
      font-weight: 500;
      line-height: 21.94px;
      @include for-size(tablet-only){
        font-size: 14px;
        font-weight: 500;
      }
    }
    .progressbar {
      display: flex;
      width: 250px;
        height: 1px;
      border-bottom: 2px solid #f8deb8;
      @include for-size(tablet-only){
        display: flex;
      width: 100px;
      height: 1px;
      border-bottom: 2px solid #f8deb8;
      }
    }
     
    button {
      color: #fff;
      background-color: #ff9b05;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 16px;
      border: none;
      outline: none;
      @include for-size(tablet-only){
        font-size: 12px;
        padding: 3px 8px;
      }
    }
  }

  .orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 8px;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    @include for-size(tablet-only) {
      width: 100%;
    }
    h3 {
      padding: 8px;
      font-size: 16px;
      font-weight: 500;
      color: #000000;
      @include for-size(tablet-only){
        font-size: 14px;
        font-weight: 500;
      }
    }

    .details_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: #fff;
      padding: 0 8px;
      @include for-size(tablet-only) {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding: 5px;
      }
      .userbox {
        display: flex;
        gap: 15px;
        @include for-size(tablet-only) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
        }
        .item_name {
          font-size: 16px;
          font-weight: 500;
          line-height: 21.94px;
          @include for-size(tablet-only){
            font-size: 14px;
            font-weight: 500;
          }
        }

        .location {
          font-size: 12px;
          font-weight: 300;
          line-height: 17.07px;
          @include for-size(tablet-only){
            font-size: 12px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
      .status {
        padding: 2px 8px;
        border-radius: 4px;
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        @include for-size(tablet-only) {
          padding: 2px;
          font-size: 12px;
        }
      }

      .statusCompleted {
        background-color: #cdffd2;
        padding: 3px 6px;
        border-radius: 10px;
        @include for-size(tablet-only) {
          padding: 2px;
        }
      }

      .statusPending {
        background-color: #f8deb8;
        padding: 3px 6px;
        border-radius: 10px;
        @include for-size(tablet-only) {
          padding: 2px;
        }
      }

      .statusCanceled {
        background-color: #fbdbd1;
        padding: 3px 6px;
        border-radius: 10px;
        @include for-size(tablet-only) {
          padding: 2px;
        }
      }

      .itembox {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include for-size(tablet-only) {
          width: 100%;
        }
        .item_name {
          font-size: 16px;
          font-weight: 500;
          line-height: 21.94px;
          @include for-size(tablet-only) {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      .itembox_container{
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        @include for-size(tablet-only){
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
    .dots{
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        @include for-size(tablet-only){
            width: 20px;
            font-size: 14px;
          }
    }
  }
}
