
@import '../mixins/mediaquery';
.layout_container {
    height: 100vh;
  width: 100vw;
    background-color: #ff9b05;
    .default {
      display: flex;
      flex-direction: column;
      height: 100vh;
      max-width: 1440px !important;
      margin: 0px auto;
      padding: 0px 100px;
      @include for-size(tablet-only){
        width: 100%;
        padding: 10px 10px;
      }

    .header {
        flex-shrink: 0;
        position: sticky;
      }
      .content {
        display: flex;
        flex: 1;
        height: 100%;
       
          .main_content {
            flex: 1;
            padding: 20px; 
            overflow-y: auto;
          }
      }
    }
  }
  
 
 //Layout Header styles
 .layout_header{
  display: flex;
  width: 81.5%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  padding: 6px 8px;
  margin-left: 17%;
  margin-top: 5%;
  @include for-size(tablet-only){
    width: 100%;
    padding: 3px 4px;
    margin: 0px;
  }

  .searchbox{
    display: flex;
    align-items: center;
    border: 1px solid #ECEBEB;
    background-color: #ECEBEB;
    border-radius: 50px;
    padding: 5px;
    max-width: 300px;
    padding-left: 5px;
    @include for-size(tablet-only){
      width: 100%;
      padding-left: 0px;
    }
    
    input{
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  background: transparent;
  @include for-size(tablet-only){
    width: 100%;
  }
    
    }
  }

  .userbox{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include for-size(tablet-only){
      display: none;
      
    }
   
  }
 }
  
 //side bar styles
 .sidebar {
  flex-shrink: 0;
  width: 200px; 
  background-color: #fff; 
  color: #000000; 
  border: 1px solid #dfdfdf;
  margin-top: -3.9%;
  border-radius: 22px;
  @include for-size(tablet-only){
    display: none;
  }

 .sidebarItems{
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding: 96px 8px;
  gap: 20px;
 

  .icons{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 30px;
    &:hover{
      background: linear-gradient(269.77deg, #FFE1B5 10.65%, rgba(221, 229, 243, 0) 70.12%);
      border-right: 3px solid #ff9b05;
      color:  #FFE1B5;
    }

    p{
      font-size: 14px;
      font-weight: 500;
      &:hover{
        background: linear-gradient(269.77deg, #FFE1B5 10.65%, rgba(221, 229, 243, 0) 70.12%);
        color: #FFE1B5;
      }
    }
  }
 }
} 
  
  