@import '../mixins//mediaquery';
.service_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    // max-width: 1440px !important;
    // margin: 0px auto;
    // padding: 0px 100px;
    @include for-size(tablet-only){
        width: 100%;
        height: 100%;
        padding: 0px 10px;
        align-items: center;
    }
    .addService_form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f4f4f4;
        border-radius: 10px;
        gap: 15px;
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        @include for-size(tablet-only){
            width: 100%;
            height: 100%;
            justify-content: center;
        }

        h1{
            font-size: 16px;
            font-weight: 700;
        }
        .formfields{
            display: flex;
            width: 100%;
            border: 0.5px solid #dfdfdf;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            padding: 5px;
            @include for-size(tablet-only){
                width: 100%;
                justify-content: center;
            }
        }
    }
    .availability{
        display: flex;
        gap: 10px;
    }
    .add_servicebtn_con{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        button{
            background-color: #ff9b05;
            border-radius: 10px;
            color: #fff;
            justify-content: center;
            align-items: center;
            padding: 10px;
            @include for-size(tablet-only){
                width: 100%;
                justify-content: center;
            }
        }
    }
}

.services_list_box{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow-y: auto;
    // max-width: 1440px !important;
    // margin: 0px auto;
    // padding: 0px 100px;
    @include for-size(tablet-only){
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }
    .services_list_box::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and other WebKit browsers */
      }
    .service_wrapper{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        width: 100%;
        // height: 100%;
        padding: 10px 10px;
        margin-top: 15px;
        gap: 15px;
       
        @include for-size(tablet-only){
            width: 100%;
            height: 100%;
        }

        .create_service{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 10px;
                border: 0.3px solid #ff9b05;
                background: transparent;
                border-radius: 10px;
                color: rgb(0, 174, 255);
            }
        }
        .service_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
            gap: 20px; 
            width: 100%;
            padding: 10px; 
            .service_card {
              display: flex;
              flex-direction: column;
              padding: 15px;
              justify-content: flex-start;
              align-items: center;
              border: 1px solid #f7ca87;
              border-radius: 12px;
              background-color: #fff;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              transition: transform 0.2s ease, box-shadow 0.2s ease;
          
              &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                background-color: #f4f4f4;
              }
          
              .deco {
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
          
                .service_image {
                  width: 100%;
                  max-height: 200px;
                  object-fit: cover;
                  border-radius: 8px;
                  overflow: hidden;
                }
              }
          
              .cardBottom {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                gap: 8px;
                text-align: center;
              }
            }
          }
          
          

    .orderbtn{
        display: flex;
        background-color: #ff9b05;
        width: 100%;
        padding: 10px 10px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
    }
}
}

.order_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    // max-width: 1440px !important;
    // margin: 0px auto;
    padding: 8px 0px;
    border-radius: 10px;
    gap: 15px;
    @include for-size(tablet-only){
        width: 100%;
    }

    .order_card{
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border: 0.3px solid #ff9b05;
        padding: 8px;
        width: 300px;
        border-radius: 10px;
        @include for-size(tablet-only){
            width: 100%;
        }
        h3{
            font-size: 14px;
            font-weight: bold;
            color: black;
        }
        p{
            font-size: 14px;
            font-weight: normal;
            color: black; 
        }
        .order_detail{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 5px;

            h4{
                font-size: 14px;
                font-weight: bold;
                color: black;
            }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .modal_content {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            text-align: center;

            .modal_actions button {
                margin: 10px;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                border-radius: 4px;
              }
              
              .modal_actions button:first-child {
                background-color: #4caf50;
                color: #fff;
              }
              
              .modal_actions button:nth-child(2) {
                background-color: #f44336;
                color: #fff;
              }
              
              .modal_actions button:last-child {
                background-color: #ccc;
              }
          }   
      }
}